.notification {
  background-color: var(--surface);
  position: fixed;
  width: 18rem;
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: 1px solid var(--borderGrey);
  box-shadow: var(--shadow-2);
  right: 1.5rem;
  z-index: 10000;
  transition: top 400ms ease;
}

.notification .notification-header {
  padding: 0.4rem 0.25rem;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.notification-body {
  font-size: 14px;
  padding: 0.5rem 0.25rem;
  color: var(--text);
  line-height: 1.5;
}
