@import "./normalize.css"; /*样式统一*/
@import "./variable.css"; /*样式变量文件*/
@import "./iconfont.css"; /*字体图标*/
@import "./base.css"; /*比较公共的样式*/
@import "./link.css"; /*快捷链接*/
@import "./search.css"; /*检索区*/
@import "./task.css"; /*任务清单*/
@import "./edit-form.css"; /*编辑框*/
@import "./notification.css"; /*提示框*/
@import "./tabs.css"; /*tab区*/

.content-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.content-area .ipage-aside {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 0.3px  solid  var(--borderGrey);
}

.ipage-aside .ipage-aside-setting{
  margin-top: auto;
  text-align: center;
  font-size: 24px;
}
.content-area .ipage-body {
  flex: 1;
  overflow: auto;
  display: flex;
}
.ipage-body .ipage-body-left {
  width: 24rem;
  padding: 0.5rem;
  display: flex;
}
.ipage-body .ipage-body-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}


.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0.3rem;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}
