@font-face {
  font-family: "iconfont"; /* Project id 2691375 */
  src: url('https://at.alicdn.com/t/font_2691375_3rblartrol8.woff2?t=1627285644018') format('woff2'),
       url('https://at.alicdn.com/t/font_2691375_3rblartrol8.woff?t=1627285644018') format('woff'),
       url('https://at.alicdn.com/t/font_2691375_3rblartrol8.ttf?t=1627285644018') format('truetype');
}

[class|="icon"]{
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

