#ipage-collections{
  flex: 1;
}
#ipage-collections .collection{
}

#ipage-collections .collection .collection-name{
  padding: 1rem;
  font-size: 16px;
}

#ipage-collections .collection .collection-links{
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

#ipage-collections .collection .collection-links .collection-link{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width:13rem;
  aspect-ratio: 4/2;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  box-shadow: rgba(94, 93, 102, 0.08) 1px 1px 0px 0px, rgba(94, 93, 102, 0.1) 2px 2px 3px 0px;
}
#ipage-collections .collection .collection-links .collection-link:hover{
  box-shadow: rgba(94, 93, 102, 0.08) 1px 1px 0px 0px, rgba(94, 93, 102, 0.2) 2px 5px 10px 0px
}

.collection-links .collection-link-name{
  padding: 0.5rem;
  font-size: 14px;
  flex: 3;
  color: #444444;
  border-bottom:0.3px solid var(--borderGrey);
  display: flex;
  align-items: center;
}
.collection-links .collection-link-remark{
  padding: 0.5rem;
  font-size: 12px;
  flex: 2;
  color: #b9b9b9;
  display: flex;
  align-items: center;
}