#user_search_area {
  width: 600px;
  margin: 0 auto 1rem auto;
  overflow: visible;
}


#ipage-tabs .tab-item{
  height: 2rem;
  line-height: 2rem;
  margin:0 0.5rem ;
  padding:0 0.5rem;
  cursor: pointer;
}
.tab-item .tab-item-text{
  margin-left: 0.5rem;
}
#user_input_area {
  width: 100%;
  height: 3rem;
  display: flex;
  position: relative;
}

#user-content {
  flex: 1;
  font-size: 14px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--primary);
  padding: 0 3rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #fff;
}
#user-content:focus {
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
}
#btn-retrieval-content {
  position: absolute;
  border: none;
  right: 0;
  height: 3rem;
  padding: 0 1rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary);
}
#btn-retrieval-engine {
  position: absolute;
  border: none;
  left: 0;
  height: 3rem;
  padding: 0 1rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary);
}
.engine_change {
  position: absolute;
  top: 3.5rem;
  width: 5rem;
  left: 0;
  flex-direction: column;
  /* display: inline-flex; */
  display: none;
  z-index: 9999;
}
.engine-item {
  height: 2rem;
  line-height: 2rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.7;
}
.engine-item .engine-text{
  margin-left: 0.5rem;
}
.engine-item:hover {
  opacity: 1;
}

.selected-engine-item {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white) !important;
}
