.ipage-body .ipage-body-right {
  width: 16rem;
  border-left: 0.3px solid var(--borderGrey);
  overflow: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.ipage-body-right .ipage-aside-header{
  height: 5rem;
  line-height: 5rem;
  padding: 0 1.5rem;
  position:sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}
.ipage-aside-header .btn-aside-fold{
  transform: rotate(180deg);
  background-color: transparent;
}
.ipage-aside-header .btn-aside-fold .ipage-aside-fold{
  font-size: 1rem;
  cursor: pointer;
}

.is-fold.ipage-body-right{
  width: 0;
  overflow: visible;
}
.is-fold.ipage-body-right .ipage-aside-header .btn-aside-fold{
  transform: rotate(0);
}
.is-fold .ipage-aside-header{
  position: absolute;
  right: 0;
  z-index: 999;
}
.ipage-sections{
  flex:1;
  padding: 0.5rem;
  border-top: 0.3px solid var(--borderGrey);
}
.ipage-sections .section{
  line-height: 3rem;
  border-radius: 0.3rem;
  padding: 0 1rem;
  margin: 0.5rem 0;
  box-shadow: 0.2rem 0.2rem 0.6rem var(--greyLight-1),
  -0.2rem -0.2rem 0.5rem var(--white);
  background-color:#fff ;
}
.ipage-sections .section:hover{
  box-shadow: 0.2rem 0.2rem 0.6rem var(--greyLight-2),
  -0.2rem -0.2rem 0.5rem var(--white);
}
.section .section-tab-item,.section .section-history-item{
  display: flex;
  align-items: center;
  color: #444;
}
.section .section-tab-item .tab-item-favicon{
  color: var(--primary);
}
.section .section-tab-item .tab-item-favicon,.section .section-tab-item .tab-item-close{
  height: 0.8rem;
  width: 0.8rem;
  line-height:0.8rem;
  text-align: center;
  font-size: 0.8rem;
  flex-shrink: 0;
  margin-left: 0.2rem;
}
.section .section-history-item .history-item-close{
  margin-left: 0.2rem;
}
.section .section-tab-item .tab-item-title,.section .section-history-item .history-item-title{
  flex: 1;
  margin-left: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section .section-tab-item .tab-item-remark{
  display: none;
}
.section .section-window-item{
  list-style: none;
}
.section .section-title{
  font-weight: bold;
}
.section .section-window-item .window-item-title{
  opacity: 0.7;
}
.section .section-tab-item .tab-item-prefixer,.section .section-history-item .history-item-prefixer{
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}