:root {
  --primary-light: #8abdff;
  --primary: #ff6734;
  --primary-dark: #5b0eeb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --borderGrey:#e1e1e1;
}
