@font-face {
  font-family: "iconfont"; /* Project id 2691375 */
  src: url('../base/iconfont.woff2?t=1627219668105') format('woff2'),
       url('../base/iconfont.woff?t=1627219668105') format('woff'),
       url('../base/iconfont.ttf?t=1627219668105') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhediecaidan:before {
  content: "\e65a";
}

.icon-ffanhui:before {
  content: "\e6b1";
}

.icon-pen:before {
  content: "\e674";
}

.icon-icon-search:before {
  content: "\e601";
}

.icon-jia:before {
  content: "\e631";
}

.icon--o:before {
  content: "\e643";
}

.icon-guge:before {
  content: "\e61b";
}

.icon-weibiaoti-2:before {
  content: "\e600";
}

.icon-baidu:before {
  content: "\e63f";
}

.icon-bing1:before {
  content: "\eb4c";
}

.icon-shanchu:before {
  content: "\e68d";
}

