.notification {
  background-color: #ffffff;
  position: absolute;
  width: 15rem;
  border-radius: 0.4rem;
  padding: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  right: 100px;
  transition: top 500ms;
}

.notification .notification-header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.notification-body {
  font-size: 15px;
  padding: 0.5rem;
}
