.project-manage {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.project-manage-h {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}

.project-item {
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}
.project-item .project-item-h {
  background-color: var(--primary);
  color: #fff;
  padding: 0.5rem 0.3rem;
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
    inset -0.2rem -0.2rem 1rem var(--primary-dark),
    0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.project-item .project-item-tasks > div {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}
.project-manage-list {
  flex: 1;
  overflow: auto;
}
