.core-item-theme{
  display: flex;
}
.core-item-theme .theme-item{
  width: 10rem;
  aspect-ratio: 100/78;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}
.theme-item .theme-item-effect{
  flex: 4;
}
.theme-item .theme-item-title{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-demo-dark{
  background-color: var(--deep-dark);
}
.theme-demo-light{
  background-color: var(--muted-surface);
}